---
import Whatsapp from "../components/Whatsapp.astro";

const { title, description, whatsapp = false, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="../../public/favicon.png" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Language" content="es" />
    <meta http-equiv="generator" content={Astro.generator} />
    <meta name="author" content="Joaquin Di cio" />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
  </head>
  <body>
    <!-- slot is the same as childrens from react -->
    <slot />
    {whatsapp && <Whatsapp href={whatsapp.href} />}
  </body>
</html>
<style is:global>
  /* global styles go here */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    scroll-behavior: smooth;
  }
  :root {
    --main-color: #e42882;
    --main-font: "Neuton", serif;
    --secondary-font: "Poppins";
  }
  .justify-content-center {
    justify-content: center;
  }
  .d-flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .align-items-center {
    align-items: center;
  }
  .text-white {
    color: white;
  }
  .text-center {
    text-align: center;
  }
  .secondary-font {
    font-family: var(--secondary-font);
  }
</style>
